@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


main {
    padding: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .content-wrapper {
    width: 100%;
    max-width: 1080px;
  }
  
  .search-area input {
    width: 100%; 
    padding: 0.8rem 1rem;
    border: none;
    font-size: 1rem;
    text-align: center; 
    background-color: var(--color04);
    border-radius: 4px;
    margin-bottom: 1.5rem;
  }

  .search-area input:focus {
    outline: none;
    color: black;
}

  .search-area input::placeholder {
    color: #3d3d3d9a;
    font-family: 'Arial', sans-serif; /* ou a fonte que quiser */
    font-size: 1rem;
    font-weight: 600;
  }
  
  
  .book-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  